#mt-user-filters-form.container-inline .form-item label {
	display: block;
}

#mt-user-filters-form .form-submit,
#mt-user-filters-form .btn-mt-user-export,
#mt-user-filters-form .btn-mt-user-import {
	margin-right: 5px;
	margin-top: 11px;
}