{#
/**
 * @file theme_mt_user-page-create.html.twig
 * Default theme implementation MT User custom.
 *
 * Available variables:
 * - content: Create form
 */
#}
<div class="mt-user-form">
  {{- form -}}
</div>