{#
/**
 * @file theme_mt_user-page-edit.html.twig
 * Default theme implementation MT User custom.
 *
 * Available variables:
 * - content: Edit form
 */
#}
<div class="mt-user-form">
  {{- form -}}
</div>